﻿<h2>Editar Informacion Proveedor</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Proveedor/edit/@Model.IdProveedor" method="post">
            <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Proveedor</h4></div>
            <div class="panel-body">

            <div class="form-group">
                <label for="">id:</label>
                <input type="text" readonly="true" name="IdProveedor" class="form-control" placeholder="IdProveedor" value="@Model.IdProveedor"/>
            </div>
         
            <div class="form-group">
                <label for="">Representante:</label>
                <input type="text" name="Representante" class="form-control" placeholder="Representante" value="@Model.Representante"/>
            </div>



            <div class="form-group">
                <label for="">Telefono:</label>
                <input type="text" name="Telefono" class="form-control" placeholder="Telefono" value="@Model.Telefono" />
            </div>

           
            <div class="form-group">
                <label for="">RazonSocial:</label>
                <input type="text" name="RazonSocial" class="form-control" placeholder="RazonSocial" value="@Model.RazonSocial" />
            </div>      


             <div class="form-group" style="text-align:center">
            <button class="btn btn-primary" >Guardar</button>
             <a href="/Proveedor/Index" class="btn btn-primary">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
            </div>
                </div>
    	     </div>
        </div>
        </form>
    </div>

</div>
