﻿
<h2>Lista Proveedores</h2>
@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
    <form action="/Proveedor/Index" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 
                Buscar</button>

            @* <a href="/Proveedor/create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Registrar Proveedor</a>*@
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
          
            <th>Id</th>
            <th>Representante</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Razon Social</th>
            
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProveedor</td>
                <td>@item.Representante</td>
                <td>@item.Correo</td>
                <td>@item.Telefono</td>
                <td>@item.RazonSocial</td> 
                <td>
                    <a href="/proveedor/edit/@item.IdProveedor">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/proveedor/delete/@item.IdProveedor" 
                        onclick="return confirm(' Desea eliminar al puesto : @item.Representante');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>
