﻿@{
    ViewBag.Title = "RegistrarProveedor";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <form action="/Proveedor/create" method="post">
      <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Proveedor</h4></div>
            <div class="panel-body">

            <div class="form-group">
                <label for="">Representante:</label>
                <input type="text" name="Representante" class="form-control" placeholder="Representante" />
                <span>@Html.ValidationMessage("Representante")</span>
            </div>

            <div class="form-group">
                <label for="">Correo:</label>
                <input type="text" name="Correo" class="form-control" placeholder="Correo@hotmail.com" />
                <span>@Html.ValidationMessage("Correo")</span>
            </div>
                
            <div class="form-group">
                <label for="">Teléfono:</label>
                <input type="text" name="Telefono" class="form-control"  placeholder="Telefono" />
                <span>@Html.ValidationMessage("Telefono")</span>
            </div>
      
            <div class="form-group">
                <label for="">Razón Social:</label>
                <input type="text" name="RazonSocial" class="form-control"  placeholder="RazonSocial" />
                <span>@Html.ValidationMessage("RazonSocial")</span>
            </div>
    
               
           <div class="form-group" style="text-align:center">
                 <button class="btn btn-primary" >
                  <span  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Guardar</button>

              
            
             <a href="/Proveedor/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Cancelar

             </a>
                 
               </div>
   	     </div>
    	     </div>
</div>
      
        </form>
    </div>
</div>


