﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <link href="~/Content/bootstrap.spacelab.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>


    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("su logotipo aquí", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                             <li class="dropdown">
                                <a class="dropdown-togle" data-toggle="dropdown" href="#">
                                    Administrar Proveedor
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li><a href="/Proveedor/Index">Buscar Proveedor</a></li>
                                    <li><a href="/Proveedor/Create">Registrar Proveedor</a></li>
<<<<<<< HEAD
                                    <li><a href="/Area/Index">Buscar Area</a></li>
=======
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/TipoProducto/Index">Buscar Tipo Producto</a></li>
                                    <li><a href="/TipoProducto/Create">Registrar Tipo Producto</a></li>
>>>>>>> ea195be66c258f0cf54cdd6c7448beb17c23ac49
                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
