﻿@{
    ViewBag.Title = "Inicio";
}
@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<h2>Registrar Area</h2>

<form action="/Area/Index" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>                 
                Buscar</button>           
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>CodigoArea</th>
            <th>Agencia</th>
            <th>Acciones</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdArea</td>
                <td>@item.Nombre</td>
                <td>@item.CodigoArea</td>
                <td>@item.Agencia.Nombre</td>
                <td>
                    <a href="/area/edit/@item.IdArea">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/proveedor/delete/@item.IdArea" 
                        onclick="return confirm(' Desea eliminar al puesto : @item.Nombre');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
